# test.hex.camp - minikube1
.:53 {
    route53 test.hex.camp.:Z054283718N71MNTWBOIM {
	  aws_access_key <key> <secret>
        fallthrough
    }
    hexcamp test.hex.camp
    file db.test.hex.camp test.hex.camp
    log
    errors
    reload
    cache
}
